<div class="row">
    <div class="large-12 columns text-center">
        <h1><%= "<countries type=\"array\">" %></h1>
        <h1><%= "\"countries\":{ } " %></h1>
    </div>
</div>

<!-- End Header and Nav -->

<hr/>

<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">

        <div class="panel">
            <h4>Sometimes you need a list of all the countries...</h4>

            <div class="row">
                <div class="large-9 columns">
                    <p> And (as any web developer knows) it's usually a pain in the ass looking for that xml or that json that worked so well before.
                        That's why we did this, so you wouldn't have to do it again.
                        <br/><br/>Get a list of all the countries in XML or JSON</p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Three-up Content Blocks -->

<div class="row">
    <div class="large-6 small-12 columns">
        <a href="/countries.xml" class="button expand">XML</a>
    </div>

    <div class="large-6 small-12 columns">
        <a href="/countries.json" class="button expand">JSON</a>
    </div>

    <div class="large-6 small-12 columns">
        <a href="/countries.xls" class="button expand">XLS</a>
    </div>

    <div class="large-6 small-12 columns">
        <a href="/countries.csv" class="button expand">CSV</a>
    </div>
</div>



<!-- Footer -->

<footer class="row">
    <div class="large-12 columns text-right">
        <hr />
                <p>Free to use, copy, and modify. <a href="http://www.twitter.com/selaromi">@selaromi</a> & <a href="http://www.twitter.com/cris7ian">@cris7ian</a></p>
    </div>
</footer>