<table>
  <thead>
    <tr>
      <th>Name, Capital</th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %>, <%= country.capital %></td>
      </tr>
    <% end %>
  </tbody>
</table>
